.addTask-input {
  width: 100%;
  line-height: 45px;
  font-size: 45px;
  opacity: 0.5;
}
body {
  background: url("http://cdn.wallpapersafari.com/74/97/Qu3AUg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  font-size: 100px;
  text-align: center;
  color: white;
  font-family: 'Scope One', serif;
  font-weight: normal;
}

.addButton {
  width: 15%;
  line-height: 20px;
  font-size: 20px;
  opacity: 0.5;
  text-align: center;
}

.deleteButton {
  width: 5%;
  line-height: 20px;
  font-size: 20px;
  opacity: 0.5;
  text-align: center;
}

.listItems {
  list-style: none;
  font-size: 30px;
  color:white;
  opacity: 0.8;
  font-family: 'Scope One', serif;
}

a {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
  text-decoration: none;
  color: initial;
  width: 5%;
  line-height: 20px;
  font-size: 20px;
  opacity: 0.5;
  text-align: center;
}
