extends layout

block content
  div
    link(href='https://fonts.googleapis.com/css?family=Scope+One', rel='stylesheet')
    head
      link(rel='stylesheet', type='text/css', href='stylesheet.css')
  body
    h1  ToDoList
    form(action='/addTask', method='post')
      input.addTask-input(type='text', maxlength='255', placeholder='Add a to-do', name='title')
      button.addButton(type='submit') +
    ul.list-group
    for task in tasks
      if task.completed
        strike
          li.listItems=task.title
        a(href='/items/delete/' + task.id) DELETE
        a(href='/items/completed/' + task.id) Mark as completed
      else
        li.listItems=task.title
        a(href='/items/delete/' + task.id) DELETE
        a(href='/items/completed/' + task.id) Mark as completed
