extends layout

block content
  div
    link(href='https://fonts.googleapis.com/css?family=Scope+One', rel='stylesheet')
    head
      link(rel='stylesheet', type='text/css', href='stylesheet.css')
  body
    script(src='./addButton.js')
    h1  ToDoList
    form(action='/addTask', method='post')
      input.addTask-input(type='text', maxlength='255', placeholder='Add a to-do', name='title')
      button.addButton(type='submit') +
      button.deleteButton -
    ul.list-group
      for task in tasks

        li.listItems= task.title
